html {
  font-size: 10px;
}
@media (max-width: 1920px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 7px;
  }
}

body {
  --bs-body-font-family: '__Noto_Sans_KR_26a74c',
    '__Noto_Sans_KR_Fallback_26a74c';
}
