html {
  font-size: 10px;
}
@media (max-width: 1920px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 8px;
  }
}

body {
  --bs-body-font-family: '__Noto_Sans_KR_26a74c',
    '__Noto_Sans_KR_Fallback_26a74c', system-ui, -apple-system, 'Segoe UI',
    Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.Toastify__toast-body {
  font-size: 1.4rem;
  font-weight: bold;
}
